  <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="public/images/logo.png" alt="logo"></a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/classify">全站导航</a></li>
             <li><a href="#">关于我们</a></li>
            <li><a href="/cart">购物车</a></li>
          </ul>
        </div>
    </div>
  </nav>


<div class="login-container">
    <div class="like">
      <img src="public/images/b-big1.jpg" alt="">
    </div>
    <form action="login" method="post">
      <div class="login-main">
        <div class="title"><span>用户登录</span><span class="register">无登录账号 <a href="/register">去注册</a></span></div>
        <div class="signin">
          <div class="form-input">
            <input type="email" placeholder="用户名/邮箱/手机号" id="email" class="form-control">
          </div>
          <div class="form-input">
            <input type="password" placeholder="密码" id="password" class="form-control">
          </div>
          <div class="forget-pwd">
            <p><a href="">忘记密码</a></p>
          </div>
          <button class="submit">登录</button>
        </div>
      </div>
    </form>
</div>
