  <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="public/images/logo.png" alt="logo"></a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/classify">全站导航</a></li>
             <li><a href="#">关于我们</a></li>
            <li><a href="/cart">购物车</a></li>
          </ul>
        </div>
    </div>
  </nav>

<div class="register-container">
  <div class="register-main">
    <div class="title"><span>注册账号</span><span class="login">已有账号<a href="/login">直接登录</a></span></div>
    <div class="register">
      <div class="form-group">
        <span>用户名</span>
        <input type="email" placeholder="用户名" id="email" class="form-control">
      </div>
      <div class="form-group">
        <span>邮箱</span>
        <input type="email" placeholder="邮箱" id="email" class="form-control">
      </div>
      <div class="form-group">
        <span>密码</span>
        <input type="password" placeholder="密码" id="password" class="form-control">
      </div>
      <div class="form-group">
        <span>确认密码</span>
        <input type="password" placeholder="密码" id="password" class="form-control">
      </div>
      <p class="userReader">
        <input type="checkbox" checked>
        <span>阅读并接受 <a href="">bookStore用户协议</a></span>
      </p>
      <button class="form-control btn btn-success btn-register">注册</button>
    </div>
  </div>
  <div class="like">
    <img src="public/images/b-big1.jpg" width="475" height="320" alt=""> 
  </div>
</div>
