<nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="#"><img src="public/images/logo.png" alt="logo"></a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/classify">全站导航</a></li>
             <li><a href="#">关于我们</a></li>
            <li><a href="/cart">购物车</a></li>
          </ul>
        </div>
        <div class="nav-left">
          <ul>
            <li><a href="/userInfo">用户名</a></li>
          </ul>
        </div>
    </div>
  </nav>

  <div class="container">
  	<div class="title"><a href="">首页</a>/购物车</div>
  </div>
  <div class="container">
  	<table border="1">
  		<tr>
  			<th>选择</th>
  			<th>书籍名称</th>
  			<th>作者</th>
  			<th>出版时间</th>
  			<th>单价</th>
  			<th>数量</th>
  			<th>总价</th>
  			<th>操作</th>
  		</tr>
  		<tr>
  			<td><input type="checkbox"></td>
  			<td>中医儿科学</td>
  			<td>丁樱</td>
  			<td>2012-12-12</td>
  			<td>20￥</td>
  			<td><input type="number" value="1"></td>
  			<td>20￥</td>
  			<td><button>删除</button></td>
  		</tr>
  		<tr>
  			<td><input type="checkbox"></td>
  			<td>伤寒论</td>
  			<td>张仲景</td>
  			<td>无</td>
  			<td>76￥</td>
  			<td><input type="number" value="1"></td>
  			<td>76￥</td>
  			<td><button>删除</button></td>
  		</tr>
  		<tr>
  			<td><input type="checkbox"></td>
  			<td>心血管内科临床思维</td>
  			<td>黄岚</td>
  			<td>2014-03</td>
  			<td>34.5￥</td>
  			<td><input type="number" value="1"></td>
  			<td>34.5￥</td>
  			<td><button>删除</button></td>
  		</tr>
  	</table>
  	<div class="total">
  		<div class="left"><span>全选</span><input type="checkbox"></div>
  		<div class="pay"><button>立即支付</button></div>
  		<div class="total_price">总计：<span>20￥</span></div>
  	</div>
  </div>

