 <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/muser">医学图书网后台管理</a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/muser">用户管理</a></li>
            <li><a href="/mbooks">书籍管理</a></li>
            <li><a href="/morder">订单管理</a></li>
             <li><a href="/mevaluate">评论管理</a></li>
            <li><a href="/maffice">公告管理</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <a  href="/login" id="back">退出</a>
        </div>
    </div>
  </nav>



  <div class="container clear">
    <table class="user-table">
      <tr>
        <th>订单编号</th>
        <th>用户编号</th>
        <th>用户名</th>
        <th>用户电话</th>
        <th>收件人</th>
        <th>收件人电话</th>
        <th>书籍名称</th>
        <th>总价</th>
        <th>书籍总数</th>
        <th>付款时间</th>
        <th>查看详情</th>
      </tr>
      <tr>
        <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
        <td><a href="#" id="delete">查看詳情</a></td>
      </tr>
      <tr>
      <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
            <td><a href="#" id="delete">查看詳情</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
         <td><a href="#" id="delete">查看詳情</a></td>
      </tr> 
      <tr>
       <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
            <td><a href="#" id="delete">查看詳情</a></td>
      </tr>
      <tr>
        <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
          <td><a href="/#" id="view-info">查看詳情</a></td>
      </tr>   
      <tr>
        <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
      <td><a href="/#" id="view-info">查看詳情</a></td>
      </tr>
      <tr>
       <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>5345</td>
        <td>34653男</td>
        <td>男453</td>
        <td>3465</td>
        <td>54365</td>
        <td>儿童医学</td>
        <td>儿童医学</td>
      <td><a href="/#" id="view-info">查看詳情</a></td>
      </tr>
    </table>
  </div>
