  <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/muser">医学图书网后台管理</a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/muser">用户管理</a></li>
            <li><a href="/mbooks">书籍管理</a></li>
            <li><a href="/morder">订单管理</a></li>
             <li><a href="/mevaluate">评论管理</a></li>
            <li><a href="/maffice">公告管理</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <a  href="/login" id="back">退出</a>
        </div>
    </div>
  </nav>


  <div class="container clear">
    <table class="user-table">
      <tr>
        <th>用户评价编号</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>用户昵称</th>
        <th>发布时间</th>
        <th>内容</th>
        <th>操作1</th>
        <th>操作2</th>
      </tr>
      <tr>
        <td>1</td>
        <td>韩菲</td>
        <td>***</td>
        <td>女</td>
        <td>2017-4-10</td>
        <td>这书不错</td>
      <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>jack</td>
        <td>***</td>
        <td>男</td>
        <td>2017-4-11</td>
        <td>书是正版，还是不错的</td>
      <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>张珊</td>
        <td>***</td>
        <td>女</td>
        <td>2017-4-10</td>
        <td>买的送人的，还行</td>
      <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>   
       <tr>
        <td>2</td>
        <td>刘辉</td>
        <td>***</td>
        <td>男</td>
        <td>2017-4-20</td>
        <td>在这买的第一本书，还行</td>
         <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>李思</td>
        <td>***</td>
        <td>男</td>
        <td>2017-4-20</td>
        <td>在这买的第一本书，还行</td>
         <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr> <tr>
        <td>2</td>
        <td>张三</td>
        <td>***</td>
        <td>男</td>
        <td>2017-4-20</td>
        <td>在这买的第一本书，还行</td>
         <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
       <tr>
        <td>2</td>
        <td>李四</td>
        <td>***</td>
        <td>男</td>
        <td>2017-4-20</td>
        <td>在这买的第一本书，还行</td>
         <td><a href="#" id="delete">查看詳情</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
    </table>
  </div>