  <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/muser">医学图书网后台管理</a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/muser">用户管理</a></li>
            <li><a href="/mbooks">书籍管理</a></li>
            <li><a href="/morder">订单管理</a></li>
             <li><a href="/mevaluate">评论管理</a></li>
            <li><a href="/maffice">公告管理</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <a  href="/login" id="back">退出</a>
        </div>
    </div>
  </nav>


  <div class="container addAffice">
    <a href="afficeadd" id="addAffice">新增公告</a>
  </div>
  <div class="container clear">
    <table class="user-table">
      <tr>
        <th>用户编号</th>
        <th>用户名</th>
        <th>密码</th>
        <th>性别</th>
        <th>手机号</th>
        <th>邮箱</th>
        <th>操作1</th>
        <th>操作2</th>
      </tr>
      <tr>
        <td>1</td>
        <td>彪</td>
        <td>***</td>
        <td>男</td>
        <td>378747792</td>
        <td>han1993@qq.com</td>
        <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>jack</td>
        <td>***</td>
        <td>男</td>
        <td>5675743</td>
        <td>hahah1993@qq.com</td>
            <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>marry</td>
        <td>***</td>
        <td>女</td>
        <td>745643</td>
        <td>marry1993@qq.com</td>
                <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>    <tr>
        <td>2</td>
        <td>jack</td>
        <td>***</td>
        <td>男</td>
        <td>5675743</td>
        <td>hahah1993@qq.com</td>
               <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>marry</td>
        <td>***</td>
        <td>女</td>
        <td>745643</td>
        <td>marry1993@qq.com</td>
              <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>    <tr>
        <td>2</td>
        <td>jack</td>
        <td>***</td>
        <td>男</td>
        <td>5675743</td>
        <td>hahah1993@qq.com</td>
              <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>marry</td>
        <td>***</td>
        <td>女</td>
        <td>745643</td>
        <td>marry1993@qq.com</td>
             <td><a href="/afficeedit" id="edit">编辑</a></td>
        <td><button id="delete">删除</button></td>
      </tr>
    </table>
  </div>
