 <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/muser">编辑图书</a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/muser">用户管理</a></li>
            <li><a href="/mbooks">书籍管理</a></li>
            <li><a href="/morder">订单管理</a></li>
             <li><a href="/mevaluate">评论管理</a></li>
            <li><a href="/maffice">公告管理</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <a  href="/login" id="back">退出</a>
        </div>
    </div>
  </nav>


  <div class="container userEdit">
    <div><span>书名：</span><input type="text"></div>
    <div>
      <span>类别：</span>
      <select>
        <option value="123">内科</option>
        <option value="123">外科</option>
        <option value="123">儿科</option>
        <option value="123">妇科</option>
        <option value="123">神经学</option>
      </select>
    </div>
    <div><span>作者：</span><input type="text">
    <div><span>出版社：</span><input type="text"></div>
    <div><span>出版时间：</span><input type="text"></div>
    <div><span>版次：</span><input type="text"></div>
    <div><span>价格：</span><input type="text"></div>
    <div><span>印刷时间：</span><input type="text"></div>
    <div><span>简介：</span><input type="text"></div>
    <div><span>邮箱：</span><input type="text"></div>
    <div><button id="save">保存</button></div>
  </div>