 <nav class="navbar">
      <div class="container">
        <div class="logo">
          <a href="/muser">查看用户评论</a>
        </div>
        <div class="nav-link">
          <ul>
            <li class="active"><a href="/muser">用户管理</a></li>
            <li><a href="/mbooks">书籍管理</a></li>
            <li><a href="/morder">订单管理</a></li>
             <li><a href="/mevaluate">评论管理</a></li>
            <li><a href="/maffice">公告管理</a></li>
          </ul>
        </div>
        <div class="nav-right">
          <a  href="/login" id="back">退出</a>
        </div>
    </div>
  </nav>

  <div class="container userEdit">
    <div><span>用户名：</span><input type="text"></div>
    <div><span>用户昵称：</span><input type="text"></div>
    <div><span>邮箱：</span><input type="text"></div>
    <div><span>发布时间:</span><input type="text"></div>
    <div><span>内容：</span><textarea name="" id="" cols="30" rows="10"></textarea></div>
    <div><button id="save">保存</button></div>
  </div>